<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-road-part-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,167}}</string>
                <key>sourceSize</key>
                <string>{320,167}</string>
            </dict>
            <key>text-panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-1.png</string>
            <key>size</key>
            <string>{320,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76cb13681a5b8c0f18f585d014a0d1b9:a18736ddb7c201504d7cc54c7d37b784:835b396ffa78eb41de25bd633a5de3c2$</string>
            <key>textureFileName</key>
            <string>main-1.png</string>
        </dict>
    </dict>
</plist>
