<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-decoration-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,144}}</string>
                <key>sourceSize</key>
                <string>{640,144}</string>
            </dict>
            <key>background-decoration-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{640,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,144}}</string>
                <key>sourceSize</key>
                <string>{640,144}</string>
            </dict>
            <key>background-decoration-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{320,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,144}}</string>
                <key>sourceSize</key>
                <string>{320,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-1.png</string>
            <key>size</key>
            <string>{644,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7507f379878c6a44e85f99009318b211:6f465f507568fc9bf17ffeb9cacf2b10:835b396ffa78eb41de25bd633a5de3c2$</string>
            <key>textureFileName</key>
            <string>main-1.png</string>
        </dict>
    </dict>
</plist>
