<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>car-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>car-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>car-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>car-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>car-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>car-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>car-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>particle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,48},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>particle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,52},{3,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,1}}</string>
                <key>sourceSize</key>
                <string>{3,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-2.png</string>
            <key>size</key>
            <string>{284,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd2aa3e566fe7a4d69ca643f62417dd:17b60790c1d61c689b635ccb447b1ddd:0268e2143368a8b3fdb578d07c8470ab$</string>
            <key>textureFileName</key>
            <string>main-2.png</string>
        </dict>
    </dict>
</plist>
